@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.unit-card {
    border-radius: 40px;
    padding-right: 30px;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 3px #E0E9FF;
}

.unit-card:hover {
    transition: 0.4s;
    box-shadow: none;
}
input[type=number], input[type=text], input[type=password] {
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    border: 1px solid #E0E0E0;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 1px 3px #E0E9FF;
    backdrop-filter: blur(12px);
}
input[type=password]:hover, input[type=text]:hover, input[type=number]:hover {
    transition: 0.4s;
    box-shadow: none;
}
label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
}


.select-box {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(12px);
    box-shadow: 1px 3px #E0E9FF;
    padding-left: 30px;
    padding-right: 30px;
}
.select-box:hover {
    transition: 0.4s;
    box-shadow: none;
}

.noscrollbarcard {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.noscrollbarcard::-webkit-scrollbar { 
    display: none;
}
.card {
    border-radius: 40px;
    padding: 30px;
    border: 1px solid var(--grays-gray-6, #F2F2F7);
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 1px 3px #E0E9FF;
}
.card:hover {
    transition: 0.4s;
    box-shadow: none;
}
.card::-webkit-scrollbar { 
    display: none;
}

.btn2 {
    width: 150px;
    border-radius: 25px;
    padding: 10px;
    text-align: left;
    /* justify-content: center; */
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    box-shadow: 1px 3px #0055d4;
    margin-bottom: 10px;
    background: var(--fills-primary, #0D6EFD);
}

.btn2 > i {
    margin-right: 10px;
}
.btn2:hover {
    transition: 0.4s;
    box-shadow: none;
    color: white;
    border-radius: 25px;
    background: var(--fills-primary, #0D6EFD);
}

.btn3 {
    width: 150px;
    border-radius: 25px;
    padding: 10px;
    text-align: left;
    /* justify-content: center; */
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #0055d4;
    box-shadow: 1px 3px #0055d4;
    margin-bottom: 10px;
    background: var(--fills-primary, #ffffff);
}

.btn3 > i {
    margin-right: 10px;
}
.btn3:hover {
    transition: 0.4s;
    box-shadow: none;
    color: #0055d4;
    margin-bottom: 10px;
    background: var(--fills-primary, #ffffff);
}

body {
    background: #f3f7ff;;
}